
.a-body{
    
    width:  1,280px;
    height: fit-content;
    position: relative;
    
    padding: 16px 70px 24px 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    opacity: 1;
    background-color: #ffff;
    
}
.a-t{
width:fit-content;
height: fit-content;
padding: 9.61px 9.61px 9.61px 9.61px;
gap: 9.61px;
border-radius: 9.61px 0px 0px 0px;
opacity: 1;

}
.a-t-bar{
    width: fit-content;
    height: fit-content;
    padding: 4px 16px 4px 4px;
    gap: 3px;
    display: flex;
    align-items: center;
    border-radius: 9.61px ;
   
    background-color:  var(--blue-100, #025bb9);


}
.a-b{
width: fit-content;
height: fit-content;
padding: 10px 10px;


border: none;
gap: 2px;
border-radius: 8.58px ;
opacity: 1;
background-color: #ffff;

}
.a-t-bar span{
    
    gap: 0px;
    font-family: 'inter',sans-serif;
    
    font-weight: 500;
    /* line-height: 25.63px; */
    text-align: left;
    color: #111928;

}



